<div class="splashContainer">
    
        <h1>Welcome to the <br><span class="bold">Frontend Quiz!</span></h1>
        <p class="subHead"> Enter your email to start</p>

        



        <form class="emailForm" id="emailForm" method="POST" action="/submitEmail">
            
               
            <input class="emailField" type="email" id="emailField" name="emailField" required placeholder="Enter your email">
        
        <button  class="btn submitEmailBtn" type="submit" form="emailForm"> Submit </button>
    </form>


</div>