<div class="mainContainer">
    <div class="leftCol">
      
       

        <h1>Quiz completed <br><span class="bold">You scored..</span></h1>
       
        
    </div>

    <div class="rightCol">
    <%- include("resultCard.ejs") %>
    <a href="/subjectPick">
        <button class="btn submitAnswerBtn" type="submit">Back to home</button>
    </a>

      
        
      
    </div>
</div>