<div class="mainContainer">
    <div class="leftCol">
        <h1>Welcome to the <br><span class="bold">Frontend Quiz!</span></h1>
        <p class="subHead">Pick a subject to start</p>

        
       
    </div>

    <div class="rightCol">
       <% if (locals.data){ %>
            <% for(let i = 0; i < data.length; i++){%>
                <%- include("quizSelector.ejs", {item:i})%>
            <%}%>
       <%} else{ %>
            <h1>Something has gone wrong</h1>
       <%}%>

    </div>
</div>